
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1481102027738'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1481102027738#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1481102027738') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1481102027738') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1481102027738#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-orders:before { content: "\e69c"; }

.icon-icqia:before { content: "\f003e"; }

.icon-erweima:before { content: "\e64a"; }

.icon-bangqia:before { content: "\e683"; }

.icon-pay-order:before { content: "\e63d"; }

.icon-jiudianjingquwanlexiangqingyeicon13:before { content: "\e727"; }

.icon-duijiaoerweima:before { content: "\e600"; }

.icon-duijiaopcdiannao:before { content: "\e601"; }

.icon-3f:before { content: "\e618"; }

.icon-chuangjiandingdan:before { content: "\e609"; }

.icon-dingdanchaxun:before { content: "\e61e"; }

.icon-icqiaguanli:before { content: "\e660"; }

.icon-yonghu:before { content: "\e628"; }

.icon-weixinzhanghuzhuye1326:before { content: "\e617"; }

.icon-yonghu1:before { content: "\e66b"; }

