<style>
    table>tbody>tr:nth-child(odd){
        background: #f9f9f9;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>市场业务查询</h2>
    </div>
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9"  id="userFilters" data-auto="true">
                <form class="form-inline" ng-submit="ngTable.reload()">
                    <div class="form-group">
                        <input name="code"  ng-model="searchinfo.code" type="text" class="form-control" placeholder="车管所流水号" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <div class="form-group control-group">

                            <select data-bind="" name="type" id="type" ng-model="searchinfo.type" ng-change="ngTable.reload()" class="form-control ">
                                <option value="">费用类型</option>
                                <option value="01">未支付</option>
                                <option value="02">已支付</option>
                                <option value="03">已支付</option>

                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group control-group">

                            <select data-bind="" name="payStatus" id="payStatus" ng-model="searchinfo.payStatus" ng-change="ngTable.reload()" class="form-control ">
                                <option value="">支付状态</option>
                                <option value="01">未支付</option>
                                <option value="02">已支付</option>
                            </select>

                        </div>
                    </div>

                    <button id="search" class="btn btn-primary btn-query" type="submit"  ><span class="glyphicon glyphicon-search"></span> <span>查询</span></button>
                </form>
            </div>
        </div>
    </div>

    <div class="">
        <ng-table url="exchange/pager" row-class="rowClass" page-size="10" page="0"  columns="tableColumns"    filter="searchinfo" instance="ngTable" />
    </div>
</div>