<style>
    .inputCode{
        font-size: 1.5rem;
        padding-top: 5px;
    }
</style>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>市场业务收费</h2>
        </div>
        <div class="panel-heading">
            <!--<h2>市场业务收费</h2>-->
            <div class="row">
                <div class="col-md-3 text-right inputCode">输入车管所流水号: </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="code" placeholder="输入车管所流水号" maxlength="13" ng-change="addTable(code)">
                </div>
                <div class="col-md-4">
                    <span class="form-error">{{msg}}</span>
                </div>
            </div>
        </div>
        <div class="panel-body" >
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:20%">车流水号</td>
                    <td style="width:15%">费用类型</td>
                    <td style="width:15%">金额一</td>
                    <td style="width:15%">金额二</td>
                    <td style="width:15%">金额三</td>
                    <td style="width:10%">车牌号</td>
                    <td style="width:15%">编辑</td>
                </tr>
                <tr ng-repeat="user in users">
                      <!--流水号-->
                    <td>
                        {{user.code}}
                        <span ng-show="false">
                            <span editable-text="user.id" ng-init="$hide()" e-name="id" e-form="rowform">
                                  {{ user.id  }}
                              </span>
                        </span>
                    </td>
                    <td>
                        <!-- 费用类型-->
                        <span editable-select="user.type"   e-ng-init="getPrice($data,$index)"    e-name="type" e-form="rowform"  e-ng-change="getPrice($data,$index)"
                              e-ng-options="s as s.name for s in statuses  track by s.id"  onbeforesave="checkType($data, user)" >
                             <!--{{ showStatus(user,$index) }}-->
                              {{ user.type.name}}
                        </span>
                    </td>
                    <td>
                        <!--金额一 -->
                        <span editable-text="user.marketFee" e-name="marketFee" e-form="rowform" ng-init="ae=true" e-ng-disabled="disablelist"
                              onbeforesave="checkPrice($data, user.id)">
                          {{ user.marketFee || '无' }}
                        </span>

                    </td>
                    <td>
                        <!--金额二-->
                        <span editable-text="user.otherFee" e-name="otherFee" e-form="rowform"  e-ng-disabled="disablelist" e-ng-click="disablelist||dis()"
                              onbeforesave="checkPrice($data, user.id)">
                          {{ user.otherFee || '无' }}
                        </span>
                    </td>
                    <td ng-click="pass()">
                        <!--金额三-->
                        <span editable-text="user.divideFee" e-name="divideFee" e-form="rowform"   e-ng-readonly="disablelist || leader"
                              onbeforesave="checkPrice($data, user.id)">
                          {{ user.divideFee }}
                        </span>
                    </td>

                    <td>
                         <!--车牌号 -->
                        <span editable-text="user.plateNumber" e-name="plateNumber" e-form="rowform" e-maxlength="7"
                              onbeforesave="checkName($data, user.id)">
                          {{ user.plateNumber|| '无' }}
                        </span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveUser($data, $index,user.code)"
                              ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="inserted == user">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                保存
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default">
                                取消
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button" class="btn btn-primary" ng-click="rowform.$show()">修改</button>
                            <button type="button" class="btn btn-danger" ng-click="removeUser($index,user)">移除</button>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <!--<div class="panel-footer">-->
             <!--<div class="row">-->
                 <!--<div class="col-md-3">-->
                     <!--<button  ng-click="createdOrder()" class="btn btn-success">生成订单</button>-->
                 <!--</div>-->
                 <!--<div class="col-md-4 text-center" style="font-size: 2rem">-->
                     <!--合计 :<span class="form-error"> ￥{{totalPrice}}</span>-->
                 <!--</div>-->
             <!--</div>-->


        <!--</div>-->

        <div class="panel-footer"><div class="pull-right"> 合计:<span class="text-danger">￥{{totalPrice}}</span>元</div><div class="clearfix"></div></div>

    </div>
    <div class="pull-right">
        <button class="btn btn-primary"    ng-click="createdOrder()">生成订单</button>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <!--<h3 class="modal-title" id="modal-title">提示框</h3>-->
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <h3>输入密码</h3>
            <input type="password" class="form-control" ng-model="password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">确认</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
    </div>
</script>