
<div>
    <div>
        <input placeholder="扫描流水或输入流水按回车" type="text" maxlength="16" size="32" ng-model="archivesNo" ng-keyup="archivesNoKeyUp($event)" />
        <span class="label label-danger">{{archivesNoError}}</span>
    </div>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="pull-left">订单详情</h4>
            <div class="pull-right">
                <a class="btn btn-sm btn-default" href="/ng#/pay/order/query">返回</a>
                <button class="btn btn-sm btn-primary" ng-disabled="itemsLength==0" ng-click="submit()">提交</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="table table-striped">
            <thead><tr><th>流水号</th><th>车牌号</th><th>手续费</th><th></th></tr></thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.archivesNo}}</td>
                    <td>{{item.vehicle.plateNumber}}</td>
                    <td>{{item.fee}}</td>
                    <td><a href="" ng-click="removeItem(item.archivesNo)">移除</a></td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer"><div class="pull-right">共<span class="text-danger">{{itemsLength}}</span>个流水 合计:￥<span class="text-danger">{{orderTotalAmount()}}</span>元</div><div class="clearfix"></div></div>
    </div>
</div>