<style>
    .col-md-3{
        width: auto;
    }
    table.card tbody tr>th,table.card tbody tr>td{
        text-align: center;
        border: 1px solid black;
    }
    .over{
        cursor: pointer;
    }
    .activedbackgroundcolor{
        background-color: #dddddd;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading"><h2>IC卡充值记录</h2></div>
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3">
                <label>开始日期</label>
            <span class="">
                <a href="" class="glyphicon glyphicon-calendar" ng-click="dateOpened = true"></a>
                <input type="text" placeholder="请选择年，月"   ng-model="cardTime"
                       datepicker-options="dateOptions"
                       style="width:200px;" ng-click="dateOpened = true" current-text="今天"
                       clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened"
                       ng-required="true" close-text="隐藏" alt-input-formats="altInputFormats"
                       class="form-control"/>
            </span>
            </div>
            <div class="col-md-3">
                <label>截止日期</label>
            <span class="">
                <a href="" class="glyphicon glyphicon-calendar" ng-click="dateOpened2 = true"></a>
                <input type="text" placeholder="请选择年，月,日"   ng-model="cardTimeEnd"
                       datepicker-options="dateOptions"
                       style="width:200px;" ng-click="dateOpened2 = true" current-text="今天"
                       clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened2"
                       ng-required="true" close-text="隐藏" alt-input-formats="altInputFormats"
                       class="form-control"/>
            </span>
            </div>
            <div class="col-md-3">
                <label >商户编号：</label>
               <!-- <select   ng-model="company"   ng-init="company=merchant[0]"  ng-options="x for x in merchant" class="form-control">
                    <option value="">&#45;&#45;请选择&#45;&#45;</option>
                </select>-->
                <input ng-model = 'company' class="form-control" placeholder="请输入商户编号" />
            </div>
            <div class="col-md-3">
                <div class="btn" style="padding-top: 23px">
                    <button id="search" class="btn btn-primary btn-query" type="button" ng-click="searchdate()"> <span>查询</span></button>
                    &nbsp; &nbsp; &nbsp;
                    <button id="exportExcel" class="btn btn-success btn-export" ng-click="exportOrder()"><span>导出</span></button>
                </div>
            </div>
        </div>

        <div>
        </div>
        <br/>
        <br/>
        <table class="table card" border="1">
            <tbody>
            <tr>
                <th colspan="5">武汉爱之家长丰旧机动车交易市场充值报表</th>
            </tr>
            <tr>
                <td>商户编号</td>
                <td>商户名称</td>
                <td>充值金额</td>
                <td>赠送金额</td>
                <td>合计金额</td>
            </tr>
            <tr ng-repeat="item in cardData" ng-click="detail(item.loginName,cardTime,cardTimeEnd)" class="over" title="点击查看充值明细" ng-class="{'activedbackgroundcolor':showtimes}"  ng-mouseenter="showtimes = true"  ng-mouseleave="showtimes = false">
                <td>{{item.loginName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.recharge}}</td>
                <td>{{item.give}}</td>
                <td>{{item.amount}}</td>
            </tr>
            <tr ng-click="detail(null,cardTime,cardTimeEnd)" class="over" title="点击查看充值明细" ng-class="{'activedbackgroundcolor':show}"  ng-mouseenter="show = true"  ng-mouseleave="show = false">
                <td colspan="2">总计</td>
                <td>{{x}}</td>
                <td>{{y}}</td>
                <td>{{z}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>