<div class="panel panel-default">
    <div class="panel-heading">查询条件
        <a class="pull-right glyphicon glyphicon-chevron-{{showFilter?'up':'down'}}" href="" ng-click="showFilter=!showFilter"></a>
    </div>
    <div class="panel-body" ng-show="!showFilter">
        <div class="row">
            <div class="col-md-3">
                <label>开始日期</label>
                <span class="">
                    <a href="" class="glyphicon glyphicon-calendar" ng-click="dateOpened = true"></a>
                    <input type="text " placeholder="起始日期"   ng-model="startDate" ng-init="startDate=''"
                           datepicker-options="dateOptions"  ng-click="dateOpened = true" current-text="今天" ng-change="Deal()"
                           clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened"
                           close-text="隐藏" alt-input-formats="altInputFormats"
                           class="form-control "/>
                </span>
            </div>
            <div class="col-md-3">
                <label>截止日期</label>
                <span class="">
                    <a href="" class="glyphicon glyphicon-calendar" ng-click="dateOpened2 = true"></a>
                    <input type="text" placeholder="截止日期"   ng-model="endDate"  ng-init="endDate=''"
                           datepicker-options="dateOptions"  ng-click="dateOpened2 = true" current-text="今天" ng-change="Deal()"
                           clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened2"
                           close-text="隐藏" alt-input-formats="altInputFormats"
                           class="form-control "/>
                </span>
            </div>
            <!--<div class="col-xs-2"><input class="form-control input-sm" ng-model="filter.account.dealers.loginName" placeholder="商户名称"/></div>
            <div class="col-xs-2">
                <select class="form-control input-sm" ng-convert-select  ng-model="filter.type" code="account_record_type" default-text="类型">
                </select>
            </div>
            <div class="col-xs-1"><button class="btn btn-default btn-sm" ng-click="ngTable.reload()"><span class="glyphicon glyphicon-search"></span> 查询</button></div>-->
            <div class="col-md-3">
                <div class="btn" style="padding-top: 23px">
                    <button id="search" class="btn btn-primary btn-query" type="button" ng-click="ngTable.reload()"> <span>查询</span></button>
                    &nbsp; &nbsp; &nbsp;
                    <button id="exportExcel" class="btn btn-success btn-export" ng-click="exportOrder()"><span>导出</span></button>
                </div>
            </div>
        </div>
    </div>
    <ng-table url="/icard/accountRecord/pager" row-class="rowClass" page-size="20" page="0" columns="tableColumns" filter="filter" instance="ngTable" />
</div>