<form role="form" novalidate name="sellerStep2Frm" ng-submit="onSubmit(sellerStep2Frm)">
    <div class="panel panel-default">
        <div class="panel-heading">卖方证件采集</div>
<div class="container-fluid panel-body">
                <div>
                    <label class="radio-inline {{seller.certType=='01'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="01"> 身份证</label>
                    <label class="radio-inline {{seller.certType=='03'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="03"> 居住证</label>
                    <label class="radio-inline {{seller.certType=='04'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="04"> 企业营业执照(三证合一)</label>
                    <label class="radio-inline {{seller.certType=='05'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="05"> 组织机构代码证(工商营业执照、税务登记证)</label>
                </div>

            <br/>
            <ng-include src="'sellerCert' + seller.certType"></ng-include>
</div>
<div class="panel-footer text-right">
    <a class="btn btn-default btn-sm" ng-disabled="submiting" href="/ng#/trans/seller/step1" type="button">返回，选择联系人</a>
    <button class="btn btn-primary btn-sm" ng-disabled="submiting||invalid()" type="submit">下一步，其他证件</button>
</div>
</div>
</form>