<style>
    table>tbody>tr:nth-child(odd){
        background: #f9f9f9;
    }

</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <h2>废旧车牌统计表</h2>
        </div>
        <br/>
        <div class="row">
           <div class="col-md-3">交接市场: <span>mr.zhou</span></div>

           <div class="col-md-6">
                <div class="row">
                       <div class="col-md-4 text-right">交接时间</div>
                       <div class=" col-md-4" style="margin-top: -8px;">
                          <input type="text" placeholder="交接时间"   ng-model="ConnectTime"
                                 datepicker-options="dateOptions"  ng-click="dateOpened2 = true" current-text="今天"
                                 clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened2"
                                 close-text="隐藏" alt-input-formats="altInputFormats"
                                 class="form-control"/>
                       </div>
                </div>
           </div>
           <div class="col-md-3" style="margin-top: -8px;">
                 <button class="btn btn-success" ng-click="printTable()">进入打印</button>
           </div>
        </div>
    </div>
    <div class="">
        <ng-table url="archives/plate/page" row-class="rowClass" page-size="10" page="0"  columns="tableColumns"    filter="searchinfo" instance="ngTable" />
    </div>
</div>