<style>
    table>tbody>tr:nth-child(odd){
        background: #f9f9f9;
    }
    .search{
        margin-bottom: 8px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">

            <div class="col-md-12" style="text-align: right;" id="userFilters" data-auto="true">
                <form class="form-inline" ng-submit="ngTable.reload()">


                    <div class="row text-center  search">
                         <div class="form-group">
                             <input name="userName" ng-model="searchinfo.archivesNo" type="text" class="form-control" placeholder="流水号" autocomplete="off">
                         </div>
                         <div class="form-group">
                             <input name="loginName" ng-model="searchinfo.plateNumber"  type="text" class="form-control" placeholder="车牌号" autocomplete="off">
                         </div>
                        <div class="form-group">
                            <input name="loginName" ng-model="searchinfo['dealers.loginName']" type="text" class="form-control" placeholder="商户编号" autocomplete="off">
                        </div>
                         <div class="form-group control-group">
                             <select  class="form-control"  ng-model="searchinfo.stat" ng-init="searchinfo.stat='1'"  ng-change="SelectChange(stat)">
                                 <option value="1">已到达档案</option>
                                 <option value="2">已签收档案</option>
                             </select>
                         </div>
                         <button id="search" class="btn btn-primary btn-query" type="submit" ><span class="glyphicon glyphicon-search"></span> <span>查询</span></button>
                     </div>
                    <div class="row text-center search">
                        <div class="form-group">
                            <div class="form-group control-group">
                                <input name="name" ng-model="searchinfo['dealers.name']"  type="text" class="form-control" placeholder="商户名称" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="达到时间"   ng-model="arriveTime"  ng-change="SearchDate(arriveTime)"
                                   datepicker-options="dateOptions"  ng-click="dateOpened2 = true" current-text="今天"
                                   clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened2"
                                   close-text="隐藏" alt-input-formats="altInputFormats"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="开始时间"    ng-model="startTime"  ng-change="SearchTime()"
                                   datepicker-options="dateOptions"  ng-click="dateOpened3 = true" current-text="今天"
                                   clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened3"
                                   close-text="隐藏" alt-input-formats="altInputFormats"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="结束时间"   ng-model="endTime" ng-change="SearchTime()"
                                   datepicker-options="dateOptions"  ng-click="dateOpened4 = true" current-text="今天"
                                   clear-text="清空" uib-datepicker-popup="yyyy年M月d日"  is-open="dateOpened4"
                                   close-text="隐藏" alt-input-formats="altInputFormats"
                                   class="form-control"/>
                        </div>
                        <button class="btn btn-primary btn-query" id="exportExcel" ng-click="exportOrder()">导出报表</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <ng-table url='/archives/page' row-class="rowClass" page-size="10" page="0"  columns="tableColumns"    filter="searchinfo" instance="ngTable" />
    </div>
</div>