<style>
    .sucessPrint{
        font-size: 1.5rem;
    }
    .successNewNo{
        font-size: 4rem;
        font-weight: bolder;
        color: #DD1146;
    }
    .tipError{
        margin-left: 29%;
        padding: 10px 20px;
        border: 1px solid black;
        width: 40%;
        border-radius: 5%;
    }
    .link{
        cursor: pointer;
    }
</style>
<div class="panel panel-default">

    <div>
        <div class="row text-center"  >
            <span class="sucessPrint ">发票打印成功，发票号码是:</span>
            <!--input修改-->
            <form editable-form name="editableForm" onaftersave = "saveBill($data)">
                <div>
                    <br/>
                    <span editable-text="newNo" e-name="newNo" class="successNewNo" onbeforesave="checkName($data)" e-required>{{newNo}}</span>
                    <br/>
                </div>
                <br/>
                <button ng-click="back()" class="btn">继续打票</button>
                <div class="panel-body">
                    <div class="tipError">
                        <h3>打印发票异常情况处理办法</h3>
                        <p class="text-left">1、打印发票号错误，请执行以下操作：</p>
                        <div class="text-left">
                            <a class="link" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                我要修改发票
                            </a>
                            <span  ng-show="editableForm.$visible">
                                <button type="submit" class="btn btn-primary"   ng-disabled="editableForm.$waiting">
                                    保存
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                    取消
                                </button>
                            </span>
                        </div>
                        <p class="text-left">2、打印机未打印发票，请执行以下操作：</p>
                        <div class="text-left">
                            <a class="link" ng-click="returnBill()">
                                我要回退发票
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
        </div>
    </div>
</div>