<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button class="btn btn-default btn-sm" ng-disabled="submiting" ng-click="addVehicle()">添加下一辆车</button>
        <div class="panel panel-default">
            <div class="panel-heading">车辆列表
                <a class="pull-right glyphicon glyphicon-chevron-{{showFilter?'up':'down'}}" href="" ng-click="showFilter=!showFilter"></a>
            </div>
            <div class="panel-body" ng-show="showFilter">
                <div class="row">
                    <div ng-repeat="v in vehicle.items" class="col-xs-1"><button class="btn btn-default btn-sm"  ng-click="editVehicle($index)">{{$index+1}}号车</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid panel-body">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <ng-panel title="行驶证正本" type="{{active != certCount + 1?'default':'primary'}}" class="img-view">
                        <div ng-if="!vehicle.items[i].vehicleCert" class="img">{{status.vehicleCert|| "未拍照"}}</div>
                        <img ng-if="vehicle.items[i].vehicleCert" ng-src="{{imgSrc(vehicle.items[i].vehicleCert)}}" />
                        <div class="panel-footer">
                            <button ng-focus-this="{{active==certCount+1}}" ng-click="snapshot('vehicleCert',certCount+1,null,i)" class="btn btn-sm {{active != certCount+1?'btn-default':'btn-primary'}}"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
                            <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'vehicleCert')"><span class="glyphicon glyphicon-upload"></span> 上传</button>
                        </div>
                    </ng-panel>
                </div>
                <div class="col-md-4">
                    <ng-panel title="行驶证副本" type="{{active != certCount + 2?'default':'primary'}}" class="img-view">
                        <div ng-if="!vehicle.items[i].vehicleCertBg" class="img">{{status.vehicleCertBg|| "未拍照"}}</div>
                        <img ng-if="vehicle.items[i].vehicleCertBg" ng-src="{{imgSrc(vehicle.items[i].vehicleCertBg)}}" />
                        <div class="panel-footer">
                            <button ng-focus-this="{{active==certCount+2}}" ng-click="snapshot('vehicleCertBg',certCount+2,null,i)" class="btn btn-sm {{active != certCount+2?'btn-default':'btn-primary'}}"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
                            <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'vehicleCertBg')"><span class="glyphicon glyphicon-upload"></span> 上传</button>
                        </div>
                    </ng-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ng-panel title="车辆登记证书" type="{{active != certCount + 3?'default':'primary'}}" class="img-view">
                        <div ng-if="!vehicle.items[i].registrationCert" class="img">{{status.registrationCert|| "未拍照"}}</div>
                        <img ng-if="vehicle.items[i].registrationCert" ng-src="{{imgSrc(vehicle.items[i].registrationCert)}}" />
                        <div class="panel-footer">
                            <button ng-focus-this="{{active==certCount+3}}" ng-click="snapshot('registrationCert',certCount+3,true,i)" class="btn btn-sm {{active != certCount+3?'btn-default':'btn-primary'}}"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
                            <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'registration')"><span class="glyphicon glyphicon-upload"></span> 上传</button>
                        </div>
                    </ng-panel>
                </div>
                <div class="col-md-4">
                    <ng-panel title="车辆登记证书附页" type="{{active != certCount + 4?'default':'primary'}}" class="img-view">
                        <div ng-if="!vehicle.items[i].registrationCertBg" class="img">{{status.registrationCertBg|| "未拍照"}}</div>
                        <img ng-if="vehicle.items[i].registrationCertBg" ng-src="{{imgSrc(vehicle.items[i].registrationCertBg)}}" />
                        <div class="panel-footer">
                            <button ng-focus-this="{{active==certCount+4}}" ng-click="snapshot('registrationCertBg',certCount+4,true,i)" class="btn btn-sm {{active != certCount+4?'btn-default':'btn-primary'}}"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
                            <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'registrationBg')"><span class="glyphicon glyphicon-upload"></span> 上传</button>
                        </div>
                    </ng-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-default btn-sm" ng-disabled="submiting" ng-click="prev()">返回，添加卖家</button>
        <button class="btn btn-primary btn-sm" ng-disabled="submiting||error()" ng-click="next()">下一步，添加附件</button>
    </div>
</div>