<div class="container-fluid panel-body">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
			<div class="row">
                <div class="col-md-4">
					请选择商贩:
					<select ng-model="middleMan" ng-init="middleMan='-1'" ng-change="getMiddleMan(middleMan)">
                        <option value="-1">--不是商贩--</option>
						<option ng-repeat="m in middleMans" value="{{$index}}">{{m.name}}</option>
					</select>
				</div>
				<div class="col-md-8" ng-if="middleMan == -1">
                    请选择委托类型:
                    <label class="radio-inline {{seller.consignationType=='01'?'text-primary':''}}"><input type="radio" name="consignationType" autocomplete="off" ng-model="seller.consignationType" value="01"> 无委托人</label>
                    <label class="radio-inline {{seller.consignationType=='02'?'text-primary':''}}"><input type="radio" name="consignationType" autocomplete="off" ng-model="seller.consignationType" value="02"> 有委托人</label>
				</div>
			</div>
			<br/>
            <div class="row">
                <div class="col-md-12">
                    <label class="radio-inline {{seller.certType=='01'?'text-primary':''}}"><input type="radio" name="certType"  autocomplete="off" ng-model="seller.certType" value="01"> 身份证</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='02'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="02"> 暂住证</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='03'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="03"> 临时身份证</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='04'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="04"> 港澳台通行证</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='05'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="05"> 军官证</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='06'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="06"> 护照</label><br/><br/>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='07'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="07"> 营业执照(三证合一)</label>
                    <label  ng-if="listRadio" class="radio-inline {{seller.certType=='08'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="08"> 组织机构代码证</label>
                </div>
            </div>
            <br/>
            <ng-include src="'sellerCert' + seller.certType"></ng-include>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
        </div>
        <div class="col-md-8" ng-if="seller.consignationType=='02'">
            <div class="row">
                <div class="col-md-6">
                    委托人请选择商贩:
                    <select ng-model="trustor" ng-init="trustor='-1'" ng-change="getTrustor(trustor)">
                        <option value="-1">--不是商贩--</option>
                        <option ng-repeat="m in middleMans" value="{{$index}}">{{m.name}}</option>
                    </select>
                </div>
            </div>
            <br/>
            <ng-include src="'sellerTrustor'"></ng-include>
        </div>
    </div>
</div>
<div class="panel-footer text-right">
    <button class="btn btn-default btn-sm" ng-disabled="submiting" ng-click="prev()">返回，选择商户联系人</button>
    <button class="btn btn-primary btn-sm" ng-disabled="submiting||error()" ng-click="next()">下一步，添加车辆</button>
</div>

	
