<div class="container-fluid panel-body">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					请选择商贩:
					<select ng-model="middleMan" ng-init="middleMan='0'" ng-change="getMiddleMan()">
						<option value="0">--不是商贩--</option>
						<option ng-repeat="m in middleMans" value="{{m.id}}">{{m.name}}</option>
					</select>
				</div>
			</div>
			<br/>
            <div class="row">
                <div class="col-md-12">
                    <label class="radio-inline {{seller.certType=='01'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="01"> 居民身份证</label>
                    <label class="radio-inline {{seller.certType=='02'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="02"> 企业营业执照(三证合一)</label>
                    <label class="radio-inline {{seller.certType=='03'?'text-primary':''}}"><input type="radio" name="certType" autocomplete="off" ng-model="seller.certType" value="03"> 企业组织机构代码证(营业执照、税务登记证)</label>
                </div>
            </div>
            <br/>
            <ng-include src="'sellerCert' + seller.certType"></ng-include>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
        </div>
        <div class="col-md-8">
        	<div class="row">
			    <div class="col-md-4">
			        <ng-panel title="{{seller.certType=='01'?'卖家头像':'委托人头像'}}" type="{{active != certCount + 1?'default':'primary'}}" class="img-view">
			            <div ng-if="!seller.photo" class="img">{{status.photo || "未拍照"}}</div>
			            <img ng-if="seller.photo" ng-img-view="" ng-src="{{imgSrc(seller.photo)}}" />
			            <div class="panel-footer">
			                <button ng-focus-this="{{active==certCount+1}}" class="btn btn-sm {{active != certCount+1?'btn-default':'btn-primary'}}" ng-click="snapshot('photo',certCount+1)"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
			                <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
			                        ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'photo')"><span class="glyphicon glyphicon-upload"></span> 上传</button>
			            </div>
			        </ng-panel>
			    </div>
			    <div class="col-md-4">
			        <ng-panel title="{{seller.certType=='01'?'卖家指纹':'委托人指纹'}}" type="{{active != certCount + 2?'default':'primary'}}" class="img-view" >
			            <div ng-if="!seller.finger" class="img">{{status.finger|| "未采集"}}</div>
			            <img ng-if="seller.finger" ng-src="{{imgSrc(seller.finger)}}" />
			            <div class="panel-footer">
			                <button ng-focus-this="{{active==certCount+2}}" class="btn btn-sm {{active != certCount+2?'btn-default':'btn-primary'}}" ng-click="fingerPrint('finger',certCount+2)"><span class="glyphicon glyphicon-thumbs-up"></span> 采集指纹</button>
			                <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
			                        ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file,'finger')"><span class="glyphicon glyphicon-upload"></span> 上传指纹</button>
			            </div>
			        </ng-panel>
			    </div>
			</div>
		</div>
    </div>
</div>
<div class="panel-footer text-right">
    <button class="btn btn-default btn-sm" ng-disabled="submiting" ng-click="prev()">返回，选择商户联系人</button>
    <button class="btn btn-primary btn-sm" ng-disabled="submiting||error()" ng-click="next()">下一步，添加车辆</button>
</div>

	
