<div class="panel panel-default" >
    <div class="panel-heading">

        <form  name="transferCity" ng-submit="" novalidate="novalidate">
            <input name="id" type="hidden" autocomplete="off" value="">
            <div class="form-group control-group">
                <label class="" for="type">省份/直辖市</label>
                <select name="type" id="type" ng-model="transferCityinfo.province" class="form-control ">

                    <option value="">请选择省份/直辖市</option>

                    <option value="01">北京</option>

                    <option value="02">上海</option>

                    <option value="03">天津</option>

                    <option value="04">重庆</option>

                    <option value="05">湖北省</option>

                    <option value="06">湖南省</option>

                    <option value="07">河南省</option>

                    <option value="08">安徽省</option>

                    <option value="09">江西省</option>

                    <option value="10">浙江省</option>

                    <option value="11">江苏省</option>

                    <option value="12">广东省</option>

                    <option value="13">山东省</option>

                    <option value="14">山西省</option>

                    <option value="15">四川省</option>

                    <option value="16">河北省</option>

                    <option value="17">陕西省</option>

                    <option value="18">福建省</option>

                    <option value="19">贵州省</option>

                    <option value="20">广西省</option>

                    <option value="21">云南省</option>

                    <option value="22">辽宁省</option>

                    <option value="23">黑龙江省</option>

                    <option value="24">甘肃省</option>

                    <option value="25">青海省</option>

                    <option value="26">宁夏回族自治区</option>

                    <option value="27">新疆维吾尔自治区</option>

                    <option value="28">内蒙古自治区</option>

                    <option value="29">西藏自治区</option>

                    <option value="30">海南省</option>

                    <option value="31">吉林省</option>

                </select>
            </div>
            <div class="form-group control-group">
                <label class=" control-label" for="Name">车管所</label>
                <div class="">
                    <input  name="Name" required="required" id="Name" value="" type="text" style="" class="form-control " ng-model="transferCityinfo.name"  placeholder="车辆管理所" autocomplete="off">
                </div>
                <p   ng-class="'form-error'" ng-show="transferCity.Name.$invalid" >*车管所是必须填写的.</p>

            </div>
            <div class="alert" style="display: none;"></div>
            <button type="submit"  ng-disabled="transferCity.$invalid" id="saveUserButton" class="btn btn-primary" ng-click="save_info()">
                保存
            </button>
            <button type="button" class="btn btn-default"  ng-click="jump('/system/transferCity')" data-dismiss="modal">返回</button>

        </form>

    </div>
</div>