<form role="form" name="step0" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">采集车辆证件</div>
        <div class="panel-body container-fluid form-inline">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>车牌号：</label>
                    <div class="input-group">
                        <div class="input-group-addon">{{gconfig.plateNumberPrefix}}</div>
                        <input placeholder="车牌号后5位" ng-change="loadPlate()" maxlength="5" autocomplete="off" uppercase name="plateNumber" ng-model="plateNumber" class="form-control" required pattern="[0-9A-Z]{5}" />
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <span ng-if="plateNumberNotFound" class="text-muted form-control-static">新流水</span>
                    <span ng-if="tr.id" class="text-muted form-control-static">流水号：{{tr.archivesNo}}</span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3">
                    <ng-image-upload title="行驶证正本" path="tr.vehicleCert.path" uploaded="upload($file,'tr.vehicleCert.path')" snapshot="snapshot('tr.vehicleCert.path')"/>
                </div>
                <div class="col-sm-3">
                    <ng-image-upload title="行驶证正本" path="tr.vehicleCertBg.path" uploaded="upload($file,'tr.vehicleCertBg.path')" snapshot="snapshot('tr.vehicleCert.path')"/>
                </div>
                <div class="col-sm-3">
                    <ng-image-upload title="车辆登记证书首页" path="tr.vehicle.registrationCert.path" uploaded="upload($file,'tr.vehicle.registrationCert.path')" snapshot="snapshot('tr.vehicle.registrationCert.path')"/>
                </div>
                <div class="col-sm-3">
                    <ng-image-upload title="车辆登记证书末页" path="tr.vehicle.registrationCertBg.path" uploaded="upload($file,'tr.vehicle.registrationCertBg.path')" snapshot="snapshot('tr.vehicle.registrationCert.path')"/>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default btn-sm" type="button" ng-click="clear()" ng-disabled="!tr">清空当前内容</button>
            <button class="btn btn-primary btn-sm" type="submit" ng-click="onSubmit()" ng-disabled="invalid()">下一步，选择联系人</button>
        </div>
    </div>
</form>