<div  ng-controller="transSellerStep3" ui.mask="{{viewMask}}">
    <div class="panel-body">
        <div style="float:left;width:320px;">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary btn-sm" ng-click="snapshot()"><span class="glyphicon glyphicon-camera"></span> <span>拍照</span></button>
            <button class="btn btn-sm btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" ngf-change="upload($file)"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <button class="btn btn-danger btn-sm" ng-disabled="imgs.length < 1" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> <span>删除</span></button>
        </div>
        <div style="margin-left:340px; position: relative;">
            <div>
                <div style="min-height: 305px" ng-if="imgs.length > 0">
                    <div><img ng-src="{{imgSrc(imgs[active])}}" style="height:400px;width:auto;" /></div>
                    <nav>
                        <ul class="pagination">
                            <li><a href="" ng-click="prevImg()">&laquo;</a></li>
                            <li ng-repeat="img in imgs" ng-class="{'active':$index == active}"><a href="" ng-click="goto($index)">{{$index+1}}</a></li>
                            <li><a href="" ng-click="nextImg()">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-default btn-sm" href="/ng#/trans/seller/cert" ng-disabled="submiting" ng-click="prev()">上一步，上传证件</button>
        <button class="btn btn-primary btn-sm" href="/ng#/trans/seller/cert" ng-disabled="submiting" ng-click="next()">完成，提交原车主资料</button>
    </div>
</div>