<style>
    .datatime{
        position: relative;
    }
    .selectway{
        position: absolute;
        left: 25%;
        top:0%;
    }
    .searchbtn{
        position: absolute;
        left: 42%;
        top:0%;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-inline">
            <div class="datatime">
            <span class="">
                <a href="" class="glyphicon glyphicon-calendar" ng-click="dateOpened = true"></a>
                <input type="text" placeholder="请选择年，月"   ng-model="inpDate"  ng-change="selectDate(inpDate)"
                       datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"
                       style="width:200px;" ng-click="dateOpened = true" current-text="今天"
                       clear-text="清空" uib-datepicker-popup="yyyy年M月"  is-open="dateOpened"
                       ng-required="true" close-text="隐藏" alt-input-formats="altInputFormats"
                       class="form-control"/>
            </span>
                <div class="form-group control-group selectway">
                    <select data-bind="" name="type" id="type" ng-model="selectway"  class="form-control ">

                        <option value="0">选择查询类型</option>

                        <option value="1">PC端录入</option>

                        <option value="2">手机端录入</option>
                    </select>
                </div>
                <div class="searchbtn">
                    <button id="search" class="btn btn-primary btn-query" type="button" ng-click="searchdate()"> <span>查询</span></button>
                    <button id="exportExcel" class="btn btn-success btn-export" ng-click="exportOrder()"><span>导出</span></button>
                </div>
            </div>
        </div>
        <div>
        </div>
        <h2 align="center">月度报表</h2>
        <p class="text-center"> <span>{{year}}<span ng-if="inpDate">年</span>{{lastmounth}} <span ng-if="inpDate">月</span>{{lastday}} <span ng-if="inpDate">日</span></span> 至  <span>{{inpDate|date:'yyyy年MM月25日'}}</span> </p>
        <table width="85%" border="1" cellpadding="5" align="center">
            <tbody><tr>
                <th rowspan="2" scope="col" class="text-center">账号</th>
                <th rowspan="2" scope="col" class="text-center">类型</th>
                <th colspan="8" scope="col " class="text-center">绩效统计&nbsp;&nbsp;(单位：笔)</th>
            </tr>
            <tr>
                <th scope="col"><div align="center">卖家录入</div></th>
                <th scope="col"><div align="center">买家录入</div></th>
                <th scope="col"><div align="center">个人合计</div></th>
            </tr>

            <tr ng-if="selectway==1||selectway==0">
                <th scope="row" class="text-center">hanxi</th>
                <th height="33" scope="row" class="text-center">PC端录入</th>
                <td><div align="center">{{num}}</div></td>
                <td><div align="center">{{num}}</div></td>
                <td><div align="center">{{num}}</div></td>
            </tr>
            <tr ng-if="selectway==2||selectway==0">
                <th scope="row" class="text-center">hanxi</th>
                <th height="33" scope="row" class="text-center">手机端录入</th>
                <td><div align="center">{{num1}}</div></td>
                <td><div align="center">{{num1}}</div></td>
                <td><div align="center">{{num1}}</div></td>
            </tr>
            </tbody></table>
    </div>
</div>